h3{
  display: inline-block;
}
.close{
  opacity: 1;
}
textarea{
  resize: none;
}
.blog{
  white-space: pre-line;
}
.btn-add {
	margin-top: 5px;
	margin-left: 15px;
}
.list-group {
	margin-top: 20px;
	margin-bottom: 40px;
}
.goBack {
	text-decoration: none;
	color: #fff;
}
